:root {
    --asset-dashboard-icon: url('https://res.cloudinary.com/dssz7ge5q/image/upload/v1650518691/A1Finance/ic_baseline-space-dashboard_wnqxm0.svg');
    --asset-profile-icon: url('https://res.cloudinary.com/dssz7ge5q/image/upload/v1650518792/A1Finance/line-md_account_ciq7zi.svg');
    --asset-settings-icon: url('https://res.cloudinary.com/dssz7ge5q/image/upload/v1650518820/A1Finance/fluent_toggle-right-28-regular_d6ccqe.svg');
}
