@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('modules/vars.css');
@import url('modules/assets.css');
@import url('modules/menu.css');
@import url('modules/dashboard.css');

/** 
    FONT CONFIG: 
    Best practice to apply the font to the whole document
**/
html * {
    font-family: 'Open Sans', sans-serif !important;
}

/** PROFILE PICTURE STYLE **/
.profile-pic-div {
    height: 130px;
    width: 130px;
    position: absolute;
    top: 12em;
    left: 34.5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo {
    height: 100%;
    width: 100%;
}

#file {
    display: none;
}

#uploadBtn .boton {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

/** END OF PROFILE PICTURE STYLE **/
body {
    background-image: linear-gradient(180deg, var(--background-darker), var(--background-dark));
    background-repeat: no-repeat;
}

.logtext {
    font-size: 3.7em;
    font-weight: bolder;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 1.8rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    gap: 0.5rem;
    width: 100%;
}

.loginlogo {
    justify-content: start !important;
    padding-left: 9rem;
}

.logo .a1 {
    background-image: linear-gradient(90deg, var(--color-orange-strong), var(--color-orange));
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    letter-spacing: 0.1rem;
    font-weight: var(--font-weight-bold);
}

.logo .finance {
    font-weight: var(--font-weight-light);
    color: var(--color-primary-text);
}

.logo .finance,
.logo .a1 {
    font-size: 2rem;
}

.main,
.main-content {
    height: 100vh;
    overflow-y: overlay;
    overflow-x: hidden;
}

.border-both {
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
}

.border-gradient {
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, var(--color-border), #7c7c7c73);
}

.form-label {
    color: white !important;
}

.form-control {
    background: rgba(71, 71, 89, 0.56) !important;
    border: none;
    border-radius: 0.75rem !important;
    color: #fafafa !important;
    transition: 0.7s all;
    margin-top: 0.5rem !important;
}
.form-control:focus {
    background: rgba(71, 71, 89, 0.95) !important;
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
    box-shadow: none !important;
    outline: 0 none !important;
}

.submit,
.clean {
    padding: 0.6em 1em;
    border: none;
    outline: none;
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #e9e4f0,
        #d3cce3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #363836;
    font-weight: 700;
    cursor: 375 pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.loginform {
    height: 580px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 420px;
    border-radius: 15px;
}

.navlogin {
    background-color: #f97119;
    color: white !important;
    border-radius: 10px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modalstyle {
    background-color: rgba(255, 255, 255, 0.1);
}
