@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');


/** 
    FONT CONFIG: 
    Best practice to apply the font to the whole document
**/
html * {
    font-family: 'Open Sans', sans-serif !important;
}


/** PROFILE PICTURE STYLE **/
.profile-pic-div{
    height: 130px;
    width: 130px;
    position: absolute;
    top: 12em;
    left: 34.5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
  
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

/** END OF PROFILE PICTURE STYLE **/